# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false
