name: Publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  VERSION: 0.1.${{ github.run_number }}
  CONFIGURATION: Release

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.7
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.0.0
      with:
        dotnet-version: '8.0.x'
    - name: Update version in .nuspec  
      uses: vers-one/dotnet-project-version-updater@v1.6
      with:
        file: "**/*.nuspec"
        version: ${{ env.VERSION }}
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration ${{ env.CONFIGURATION }} --no-restore -p:Version=${{ env.VERSION }}
    - name: Pack
      run: dotnet pack --configuration ${{ env.CONFIGURATION }} --no-restore --no-build -p:PackageVersion=${{ env.VERSION }} -o bin\packages
    - name: Publish to GitHub
      run: dotnet nuget push bin\packages\*.nupkg -s https://nuget.pkg.github.com/TSSArt/index.json -k ${{ secrets.GITHUB_TOKEN }}
    - name: Publish to NuGet.org
      run: dotnet nuget push bin\packages\*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_ORG_API_KEY }}
    - name: GitHub Tag
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_tag : ${{ env.VERSION }}
