name: Publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  CONFIGURATION: Release

concurrency:
  group: Publish
  cancel-in-progress: true
  
jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-22.04

    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5.0.0
      with:
        dotnet-version: '10.0.x'
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.5.x'
    - name: Checkout
      uses: actions/checkout@v5.0.0
      with:
        fetch-depth: 0
    - name: Determine version (GitVersion)
      id: gitversion
      uses: gittools/actions/gitversion/execute@v4.2.0
    - name: Update version in .nuspec
      uses: vers-one/dotnet-project-version-updater@v1.7
      with:
        file: "**/*.nuspec"
        version: ${{ steps.gitversion.outputs.FullSemVer }}
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration ${{ env.CONFIGURATION }} --no-restore -p:Version=${{ steps.gitversion.outputs.FullSemVer }}
    - name: Pack
      run: dotnet pack --configuration ${{ env.CONFIGURATION }} --no-restore --no-build -p:PackageVersion=${{ steps.gitversion.outputs.FullSemVer }} -o bin/packages
#    - name: Publish to NuGet.org
#      run: dotnet nuget push bin/packages/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_ORG_TOKEN }}
#    - name: Publish to GitHub
#      run: dotnet nuget push bin/packages/*.nupkg -s https://nuget.pkg.github.com/TSSArt/index.json -k ${{ secrets.XTATE_GITHUB_TOKEN }}
